---
- country: "us"
  webhook: "https://discord.com/api/webhooks/REPLACE_THIS"
  search_keys:
    - helpdesk
    - desktop support
    - it support
    - service desk

- country: "uk"
  webhook: "https://discord.com/api/webhooks/REPLACE_THIS"
  search_keys:
    - desktop support
    - it support
    - service desk

